{% extends 'templates/body.twig' %}
{% block content %}
<div class="row">
    <div class="col">
        <h5>Cum cumpar?</h5>

        <div class="card mb-5">
            <div class="card-body">
                Pentru a cumpara un produs din acest magazin puteti sa va faceti un cont dand click pe " Inregistrare noua " sau fara inregistrare
                <br><br>
                Avantajul inregistrarii este ca la urmatoarea comanda nu mai trebuie sa treceti datele , ele fiind memorate de magazin automat cand va logati dand click pe " Login "
                <br><br>
                Toate produsele comandate vor fi vizibile la " Cosul meu "
                <br><br>
                Pentru a pune un produs in cosul de cumpataturi dati click pe butonul " Cumpara " din dreptul produsului dorit.
                <br><br>
                In Cosul de cumparaturi alegeti modalitatea de transport si dati apoi click pe butonul " COMANDA "
                <br><br>
                Dupa ce ati realizat o comanda corecta veti primi mesaj in magazin si in mail
                <br><br>
                Verificati stocul la produse
                <br><br>
                Produsele sunt livrate prin Fan Courier in 24 ore sau Posta Romana , in fiecare zi de Luni pana Vineri
                <br><br>
                Ultimul transport pleaca la ora 15 in fiecare zi lucratoare
                <br><br>
                Daca in 4-5 zile de la efectuarea comenzii nu ati primit aviz in cutia postala va rugam sa verificati la oficiul postal de care apartineti
                <br><br>
                Coletele stau 7 zile la oficiul postal dupa care se intorc retur daca nu sunt ridicate
                <br>
                <br>    
                <br>
                Multumim
            </div>
        </div>
    </div>
</div>
{% endblock %}