{% extends 'templates/body.twig' %}
{% block content %}
<div class="row">
    <div class="col">
        <h5>Conditii retur produs(e)</h5>
    </div>

    <div class="card mb-5">
        <div class="card-body">
            <h5>Conditii retur</h5>
            Daca esti nemultumit de produsele cumparate din magazinul virtual www.shop-piesetv.ro si vrei sa renunti la cumparare + sa primesti banii inapoi, poti sa aplici pentru procedura de retur a produselor in maxim 10 zile lucratoare, conform dispozitiilor Ordonantei de Guvern nr.130/2000, privind protectia consumatorilor la incheierea si executarea contractelor la distanta.
            <br>
            Termenul de 10 zile lucratoare prevazut pentru exercitarea acestui drept incepe sa curga pentru produse, de la data primirii lor de catre consumator
            <br>
            Prin contract la distanta se intelege contractul de furnizare de produse sau servicii incheiat intre un comerciant si un consumator, in cadrul unui sistem de vanzare organizat de catre comerciant, care utilizeaza in mod exclusiv, inainte si la incheierea acestui contract, una sau mai multe tehnici de comunicatie la distanta.
            <br>
            Dreptul de retur in 10 zile lucratoare se adreseaza doar clientilor,persoane fizice, care au achizitionat produse online de pe site-ul www.shop-piesetv.ro
            <br>
            Conform Ordonantei nr. 130/2000 consumatorul este raspunzator de achitarea cheltuielilor aferente returnarii produselor catre comerciant.
            <br>
                Dreptul de renuntarea la cumparare nu se aplica in cazul persoanelor juridice , S.A , S.R.L sau P.F.A
                <br>
                <br>
                <br>
            Procedura de retur :
            <br>
            Clientul care returneaza orice produs cumparat , va trimite acest produs ambalat corespunzator , la adresa :.......,prin intermediul uneia din firmele de curierat rapid Fan Courier sau Urgent Cargus , FARA RAMBURS
            <br>
            Plata  contravalorii acestui produs , minus taxele de transport , efectuindu-se in contul specificat de client , numai in urma verificarii conformitatii acestui produs
            <br><br>
            <font style="color: red">ATENTIE!!!</font> 
            <br><br>
            PLACILE PENTRU RETUR TREBUIE INSOTITE OBLIGATORIU DE UN PROCES VERBAL DE CONSTATARE DIN PARTEA UNUI SERVICE AUTORIZAT AGREAT DE PRODUCATOR SAU REPREZENTANTUL ACESTUI IN TERITORIU,IN CARE SA FIE SPECIFICATE REZULTATELE TESTULUI SERVICE SI MOTIVUL PENTRU CARE SE CERE INLOCUIREA PRODUSULUI (PLACII MODULULUI) RESPECTIV.
            <br>
            IN LIPSA ACESTUI DOCUMENT DIN PARTEA UNUI SERVICE AUTORIZAT NE REZERVAM DREPTUL DE A REFUZA INLOCUIREA SAU RETURNAREA CONTRAVALORII ACESTUI PRODUS!
            <br>
            In cazurile in care placile(modulele)electronice returnate prezinta urme de uzura, zgarieturi, lovituri, au suferit socuri electrice prin folosire necorespunzatoare, accesorii lipsa,urme de interventii neautorizate pe placi , ne rezervam dreptul de a decide neacceptarea returului sau de a opri o suma din valoarea produsului, suma ce va fi comunicata dupa evaluarea prejudiciilor aduse.Returul se accepta doar pe cheltuiala cumparatorului. De asemenea, ne rezervam dreptul de a refuza acceptarea returului in situatia unor abuzuri (returnari repetate). Daca returul a fost refuzat pentru unul dintre motivele enumerate mai sus sau daca clientul a expediat produsul fara a obtine in prealabil numar de retur sau a expediat produsul prin alt serviciu de curierat decat cel agreat, costul transportului inapoi catre cumparator se va face pe cheltuiala acestuia. Dreptul de Retur in 10 de zile nu afecteaza in nici un fel drepturile legale de retur in 10 zile in cazul comertului la distanta.
            <br>
            PLATA CONTRAVALORII PRODUSELOR RETURNATE SE EFECTUEAZA INTR UN CONT BANCAR SPECIFICAT DE CLIENT IN TERMEN DE MAXIM 14 ZILE LUCRATOARE!
            <br>
            In cazurile in care clientul comanda un produs,si se constata ulterior ca a fost comandat fara a se informa in prealabil cu privire la specificatiile(tehnice) listate pe site,(si este perfect functional conform acestor specificatii listate pe site)ne rezervam dreptul de a nu returna contravaloarea acestui produs,sau returnarea contravalorii numai in urma reevaluarii acestor produse din pct de vedere estetic si functional  la sediul nostru.
            <br>
            <br>
            Pentru orice detalii sau neclaritati privind returnarea produselor va rugam sa ne contactati pe email , shoppiesetv@gmail.com , sau la numarul de telefon....
        </div>
    </div>
</div>
{% endblock %}