<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<title>Shop PieseTV - Cumpara acum ce ai nevoie</title>

		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta http-equiv="content-script-type" content="text/javascript" />
		<meta http-equiv="content-style-type" content="text/css" />

		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
		<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
		<link rel="stylesheet" href="https://shop-piesetv.ro/resources/styles/css/style.css" />
		<!-- Mobile CSS Repronsive -->
		<link rel="stylesheet" href="https://shop-piesetv.ro/resources/styles/css/repronsive.css" />


		<meta name="google-site-verification" content="kS80lUJDqiAKnLNzwSb_dFl5GmTnq_DeIHUxlwrv_bY" />
		<meta name="language" content="ro" />
		<meta name="description" content="Vanzari piese tv | Vanzari componente electronice | Vanzari componente PC | Vanzari componente electrocasnice | Site vanzari electronice | Componente second hand | Componente refurbished | Vanzari piece | Vanzari electronice" lang="ro" />
		<meta name="keywords" content="vanzari placi tv, componente din desmembrar, placa televizoare, placa de baza, componente calculatoare, componente electronice, surse, placi video, cipuri laptop, placi laptop, place tv, barete led, led-uri tv, televizoare led, piese televizoare" lang="ro" />
		<meta name="robots" content="index, follow, noodp" />

		<link rel="shortcut icon" href="https://shop-piesetv.ro/favicon.ico" type="image/x-icon" />
		<link rel="icon" href="https://shop-piesetv.ro/favicon.ico" type="image/x-icon" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

		<script async src="https://shop-piesetv.ro/resources/views/ajax.js"></script>
		<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<script>
		     (adsbygoogle = window.adsbygoogle || []).push({
		          google_ad_client: "ca-pub-8318342542029519",
		          enable_page_level_ads: true
		     });
		</script>
	</head>
  	<body>
		{% include 'templates/partials/navigation.twig' %}
		<section class="jumbotron text-center mb-3">
			<div class="container">
				<a target="_blank" href="https://www.electronicforum.ro/index.php"><img src="https://www.electronicforum.ro/images/phpbb_ads/logo2.jpeg" id="logo" /></a>
				
				<h1 class="jumbotron-heading">Shop PieseTV</h1>
				<p class="lead text-muted mb-0">Componente tv/laptop perfect functionale , provenite din dezmembrari.<br />Cumpara cele mai bune produse la cele mai accesibile preturi, rapid si simplu, fara comision ascuns sau alte taxe, platesti doar ce cumperi.</p>
				<form action="{{ path_for('search') }}" method="get" class="mt-5 form-inline-block">
					<input type="text" name="query" class="form-control input-sm" placeholder="Cautare produs..." />
				</form>
			</div>
		</section>

		<div class="container">
			{% block content %}{% endblock %}
		</div>
		
		<div class="ads">
			<a target="_blank" href="https://www.rhrbrasov.ro"><img src="https://i.servimg.com/u/f62/19/70/74/92/output11.gif" /></a>
		</div>
		<!-- Footer -->
		<footer class="text-light">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-lg-8 col-xl-8">
						<h5>Creat de:</h5>
						<hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
						<p class="mb-0">
							&copy; ElectronicForum Group<br />
							Platforma administrata de ElectronicForum Group<br />
							All right reserved, &copy; 2019-2020 - shop-piesetv.ro
						</p>
					</div>
				</div>
			</div>
			</footer>
		<!-- Latest compiled and minified JavaScript -->
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

		<script>
		  window.fbAsyncInit = function() {
		    FB.init({
		      appId      : '489176931870722',
		      cookie     : true,
		      xfbml      : true,
		      version    : 'v4.0'
		    });
		      
		    FB.AppEvents.logPageView();   
		      
		  };

		  (function(d, s, id){
		     var js, fjs = d.getElementsByTagName(s)[0];
		     if (d.getElementById(id)) {return;}
		     js = d.createElement(s); js.id = id;
		     js.src = "https://connect.facebook.net/en_US/sdk.js";
		     fjs.parentNode.insertBefore(js, fjs);
		   }(document, 'script', 'facebook-jssdk'));
		</script>


		<script>
		  window.fbAsyncInit = function() {
		    FB.init({
		      appId      : '2416776561710799',
		      cookie     : true,
		      xfbml      : true,
		      version    : 'v4.0'
		    });
		      
		    FB.AppEvents.logPageView();
		      
		  };

		  (function(d, s, id){
		     var js, fjs = d.getElementsByTagName(s)[0];
		     if (d.getElementById(id)) {return;}
		     js = d.createElement(s); js.id = id;
		     js.src = "https://connect.facebook.net/en_US/sdk.js";
		     fjs.parentNode.insertBefore(js, fjs);
		   }(document, 'script', 'facebook-jssdk'));
		</script>
	</body>
</html>
<script data-ad-client="ca-pub-8318342542029519" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<meta name="google-site-verification" content="kS80lUJDqiAKnLNzwSb_dFl5GmTnq_DeIHUxlwrv_bY" />